/*fender*/
#fender{
    width: 300px;
    height: 300px;
    background: red;
    border-radius:300px;
    background: blue;
    display: inline-block;
    z-index: 10;
}
#frame_bar{
    width: 300px;
    height: 12px;
    background: red;
    left: 10px;
    position: relative;
}
#frame{
    float: right;
}

/*rim*/
.outer_circle{
    width: 300px;
    height: 300px;
    background: red;
    border-radius:300px;
    display: inline-block;
    z-index: 6;
}
/*contains spokes*/
.inner_circle{
    width: 280px;
    height: 280px;
    background: white;
    border-radius: 150px;
    border: 6px solid gray;
    display: inline-block;
    z-index: 7;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
/*all spokes*/
.spokes{
    width: 1px;
    height: 120px;
    border-radius: 300px;
    background: #A6A6A6;
    display: inline-block;
    position: absolute;
}
/*front spokes are wider*/
.front_spoke{
    display: inline-block;
    position: absolute;
    background: #A6A6A6;
    width: 2px;
    height: 120px;
    z-index: 9;
}
/*rear spokes are darker and thinner*/
.rear_spoke{
    z-index: 8;
    background: #757475;
    width: 1px;
    height: 130px;
    background: #A6A6A6;
    border-radius: 300px;
    display: inline-block;
    position: absolute;
}
/*where spokes connects*/
#spoke_hub{
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 300px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    top: 120px;
    left: 120px;
}
/*where frame sits on wheels*/
#inner_spoke_hub{
    width:10px;
    height:10px;
    background: white;
    border-radius: 300px;
    display: inline-block;
    position: absolute;
    top: 15px;
    left: 15px;
}
}
/*container for everything and tire*/
#wheel_outer{
    margin-left: 40px;
    margin-top: 404x;
}
/*rim*/
#wheel_inner{
    top: 12px;
    left: 12px;
    position: absolute;
}
#spoke_one{
    top: 0px;
    left: 139px;
}
#spoke_two{
    bottom: 1px;
    left: 139px;
}
#spoke_three{
    bottom: 140px;
    left: 160px;
    transform: rotate(90deg); transform-origin: bottom left;

}
#spoke_four{
/*    top: -55px;
    right: -1168px;
    transform: rotate(90deg); transform-origin: bottom left;*/
}
#spoke_five{
    bottom: 44px;
    right: 240px;
    transform: rotate(45deg);
    transform-origin: bottom left;
}
#spoke_six{
    bottom: 155px;
    left: 153px;
    transform: rotate(45deg);
    transform-origin: bottom left;
}
#spoke_seven{
    top: 6px;
    left: 127px;
    transform: rotate(-45deg); transform-origin: bottom left;
}
#spoke_eight{
    bottom: 41px;
    left:  239px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
}
#spoke_nine{
    bottom: 140px;
    left: 0px;
    transform: rotate(90deg);
    transform-origin: bottom left;
}
#spoke_ten{
    bottom: 192px;
    left: 9px;
    transform: rotate(111deg);
    transform-origin: bottom left;
}
#spoke_eleven{
    bottom: 159px;
    right: 131px;
    transform: rotate(23deg);
    transform-origin: bottom left;
}
#spoke_twelve{
    bottom: 91px;
    left: 6px;
    transform: rotate(70deg);
    transform-origin: bottom right;
}
#spoke_thirteen{
    top: 12px;
    right: 120px;
    transform: rotate(70deg);
    transform-origin: bottom left;
}
#spoke_fourteen{
    top: 26px;
    right: 119px;
    transform: rotate(110deg);
    transform-origin: bottom left;
}
#spoke_fifteen{
    bottom: 270px;
    left: 87px;
    transform: rotate(157deg);
    transform-origin: bottom left;
}

#spoke_seventeen{
    bottom: 12px;
    left: 84px;
    transform: rotate(23deg);
    transform-origin: bottom left;
}
#spoke_eighteen{
    bottom: 123px;
    left: 150px;
    transform: rotate(158deg);
    transform-origin: bottom left;
}
/*end front spokes*/
#spoke_nineteen{
    bottom: 121px;
    right: 131px;
    transform: rotate(199deg);
    transform-origin: bottom left;
}
#spoke_twenty{
    bottom: 131px;
    right: 122px;
    transform: rotate(174deg);
    transform-origin: bottom left;
}
#spoke_twentyone{
    bottom: 150px;
    right: 124px;
    transform: rotate(150deg);
    transform-origin: bottom left;
}
#spoke_twentytwo{
    bottom: 155px;
    right: 128px;
    transform: rotate(127deg);
    transform-origin: bottom left;
}
#spoke_twentythree{
    bottom: 155px;
    right: 125px;
    transform: rotate(107deg);
    transform-origin: bottom left;
}
#spoke_twentyfour{
    bottom: 159px;
    right: 131px;
    transform: rotate(87deg);
    transform-origin: bottom left;
}
#spoke_twentyfive{
    bottom: 163px;
    right: 137px;
    transform: rotate(67deg);
    transform-origin: bottom left;
}
#spoke_twentysix{
    bottom: 154px;
    right: 154px;
    transform: rotate(47deg);
    transform-origin: bottom left;
}
#spoke_twentysix{
    bottom: 159px;
    right: 144px;
    transform: rotate(40deg);
    transform-origin: bottom left;
}
#spoke_twentyseven{
    bottom: 147px;
    right: 155px;
    transform: rotate(18deg);
    transform-origin: bottom left;
}
#spoke_twentyeight{
    bottom: 278px;
    right: 163px;
    transform: rotate(177deg);
    transform-origin: bottom left;
}
#spoke_twentynine{
    bottom: 250px;
    right: 198px;
    transform: rotate(161deg);
    transform-origin: bottom left;
}
#spoke_thirty{
    bottom: 213px;
    right: 246px;
    transform: rotate(133deg);
    transform-origin: bottom left;
}
#spoke_thirtyone{
    bottom: 109px;
    right: 272px;
    transform: rotate(83deg);
    transform-origin: bottom left;
}
#spoke_thirtytwo{
    bottom: 155px;
    right: 275px;
    transform: rotate(102deg);
    transform-origin: bottom left;
}
#spoke_thirtythree{
    bottom: 76px;
    right: 257px;
    transform: rotate(65deg);
    transform-origin: bottom left;
}
#spoke_thirtyfour{
    bottom: 35px;
    right: 222px;
    transform: rotate(42deg);
    transform-origin: bottom left;
}




